
  
.top__1{
    background: #34363c;
    
    height: 2.5rem;
    font-size: .875rem;
  }
  .color__1{
    color: #b0b1b6 !important;
    font-weight: 300 !important;
    font-family: "ff-basic-gothic-pro",sans-serif;
    
  }